requests==2.32.3
beautifulsoup4==4.13.4
pandas==2.2.3
gspread==6.2.1
oauthlib==3.2.2
gspread==6.2.1
python-dateutil==2.9.0.post0
pytest==8.3.5
typing_extensions==4.12.2
numpy==2.2.3
google-auth==2.40.2
